#!/usr/bin/env bash

# Make vim the default editor.
#export EDITOR='vim';

# Enable persistent REPL history for `node`.
#export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
#export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
#export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
#export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
#export HISTSIZE='32768';
#export HISTFILESIZE="${HISTSIZE}";
export HISTTIMEFORMAT='%F %T >> '
export HISTSIZE=10000

# Omit duplicates and commands that begin with a space from history.
#export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
#export LANG='en_US.UTF-8';
#export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
#export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
#export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
#export GPG_TTY=$(tty);

# Work related exports
export ROBOT_LOCAL_DEPLOYMENTS_DIR=${HOME}/Documents/CENX/deployments
export PYTHONPATH=${HOME}/Documents/git/autotest
export PORT_NIFI=7777
export PORT_RETHINKDB=28080
export PORT_WILDFLY_DC=9990
export PORT_ZK=2181
export PORT_KAFKA=9092
export PORT_SOLR=8983
export PORT_PARKER_REPL=4081
export PORT_TERMINUS_REPL=4083
export PORT_NARANATHU_REPL=4015
export PORT_HEIMDALLR_REPL=4009
export PORT_APOLLO_REPL=4080

export ORCA_VERSION=1.x-latest
