[alias]
	co = checkout
	last = log -1 -p HEAD

	# List aliases
	aliases = config --get-regexp alias

	# List contributors with number of commits
	contributors = shortlog --summary --numbered

	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# Add Signed-Off by to the commit message
	commit = commit --signoff
[user]
	name = Bassam Khouri
	email = bassam.khouri@gmail.com
[core]
	excludesfile = ${HOME}/.gitignore_global
	autocrlf = input
	# hooksPath = ${HOME}/.git-all/hooks
# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path =
# [mergetool "sourcetree"]
# 	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
# 	trustExitCode = true
[branch]
	autoSetupRebase = local
	autoSetupMerge = always
[pull]
	rebase = false
[includeIf "hasconfig:remote.*.url:**/*@*.apple.com/**"]
	path = ~/.gitconfig.work
[includeIf "hasconfig:remote.*.url:**/*ithub.com:apple/**"]
	path = ~/.gitconfig.work
[includeIf "hasconfig:remote.*.url:**/*ithub.com:swiftlang/**"]
	path = ~/.gitconfig.work